version: 2.1
executors:
  docker-publisher:
    environment:
      IMAGE_NAME: abc
    docker:
      - image: circleci/buildpack-deps:stretch
jobs:
  build:
    executor: docker-publisher
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Install AWS CLI and login to ECR
          command: |
            sudo apt-get install python3-pip
            pip3 install awscli --upgrade --user
            export PATH=$PATH:$HOME/.local/bin
            aws configure set aws_access_key_id AKIA2UQHUUO4DN5EEFOS
            aws configure set aws_secret_access_key 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
            aws configure set default.region us-east-1
            aws ecr get-login --no-include-email --region us-east-1
      - run:
          name: Build Docker image
          command: |
            docker build -t $IMAGE_NAME:latest .
      - run:
          name: Archive Docker image
          command: docker save -o image.tar $IMAGE_NAME
      - persist_to_workspace:
          root: .
          paths:
            - ./image.tar
  publish-latest:
    executor: docker-publisher
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker
      - run:
          name: Load archived Docker image
          command: docker load -i /tmp/workspace/image.tar
      
# Push the Docker image to ECR
      - run:
          name: Push Docker image to ECR
          command: |
            docker push public.ecr.aws/i9j3v7x5/myrepo/my-app:latest  # Replace with your ECR repository URL

workflows:
  version: 2
  build-master:
    jobs:
      - build:
          filters:
            branches:
              only: master
      - publish-latest:
          requires:
            - build
          filters:
            branches:
              only: master
