version: 2.1
executors:
  ecr-publisher:
    environment:
      AWS_ACCESS_KEY_ID:AKIA2UQHUUO4ELIUXOEG
      AWS_SECRET_ACCESS_KEY: 4aBddi7ghRyIM7WFrU6spMWSprxLtbhk7VaQ5Gae
      AWS_DEFAULT_REGION: us-east-1
      IMAGE_NAME: public.ecr.aws/i9j3v7x5/myrepo  # Replace with your ECR repository URI
    docker:
      - image: circleci/python:3.7

jobs:
  build:
    executor: ecr-publisher
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.7
      - run:
          name: Build Docker image
          command: |
            docker build -t $IMAGE_NAME:latest .
      - run:
          name: Authenticate to AWS ECR
          command: aws ecr get-login-password --region $AWS_DEFAULT_REGION | docker login --username AWS --password-stdin $IMAGE_NAME
      - run:
          name: Push Docker Image to ECR
          command: |
            docker tag $IMAGE_NAME:latest $IMAGE_NAME:latest
            docker push $IMAGE_NAME:latest

workflows:
  version: 2
  build-master:
    jobs:
      - build:
          filters:
            branches:
              only: master
