version: 2.1
jobs:
  build:
    docker:
      - image: circleci/python:3.8  # Use an appropriate base image for your CI environment
    steps:
      - checkout  # Check out your source code

      # Install AWS CLI and login to ECR
      - run:
          name: Install AWS CLI and login to ECR
          command: |
            sudo apt-get update
            sudo apt-get install python3-pip
            pip3 install awscli --upgrade --user
            export PATH=$PATH:$HOME/.local/bin
            aws configure set aws_access_key_id AKIA2UQHUUO4DN5EEFOS
            aws configure set aws_secret_access_key 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
            aws configure set default.region us-east-1
            aws ecr get-login --no-include-email --region us-east-1

      # Build the Docker image from the Dockerfile
      - run:
          name: Build Docker image
          command: |
             docker build .

      # Tag the Docker image
      - run:
          name: Tag Docker image
          command: |
            docker tag my-app:latest public.ecr.aws/i9j3v7x5/myrepo/my-app:latest  # Replace YOUR_ECR_URL with your ECR repository URL

      # Push the Docker image to ECR
      - run:
          name: Push Docker image to ECR
          command: |
            docker push public.ecr.aws/i9j3v7x5/myrepo/my-app:latest  # Replace with your ECR repository URL
